@keyframes rotateCard {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
.container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card-size {
  width: var(--clock-width, 50px);
  height: var(--clock-height, 80px);
}
.rotate-card {
  @extend .card-size;
  perspective: calc(var(--clock-width) * 6);

  &.down {
    .back {
      animation: rotateCard 1s infinite forwards;
      &::after {
        backface-visibility: hidden;
      }
    }
  }
  > .default {
    @extend .card-size;
    position: absolute;
    transform-style: preserve-3d;
    &::before,
    &::after {
      display: block;
      width: var(--clock-width);
      height: calc(var(--clock-height) / 2);
      font: bold var(--clock-width) '黑体';
      color: white;
      text-align: center;
      overflow: hidden;
      background: black;
    }
    &::after {
      content: var(--prev-content, '0');
      line-height: 0;
      border-radius: calc(8 / 50 * var(--clock-width));
    }
    &::before {
      content: var(--next-content, '1');
      line-height: var(--clock-height);
      border-radius: calc(8 / 50 * var(--clock-width));
    }
    &.back {
      height: calc(var(--clock-height) / 2);
      transform-origin: bottom;
      transition: 1s all;

      &::after {
        line-height: var(--clock-height);
        transform: translateY(-100%);
      }
      &::before {
        transform: rotateX(180deg);
        line-height: 0px;
      }
    }
  }
}
